<form action ="/form3_do">


<br>name <input type="text" name="name">
<br>height <input type="text" name="height">
<br>weight <input type="text" name="weight">

<br><input type="text" name="authenticity_token">
<br><input type="submit">
</form>